ul,
li {
	list-style: none;
}
.dis{
	visibility: hidden;
}
/*.di{
	visibility: visible;
	position: absolute;
}*/

.citySearch {
	padding: 15px 0px;
	overflow: hidden;
}

.searchSty {
	float: left;
	width: 50%;
}

.pagechange {
	float: right;
	width: 42%;
}

.btnSelf {
	margin-left: 10px;
	border-radius: 0px;
	width: 24%;
	font-size: 20px;
	padding: 0px;
	background-color: rgb(52, 141, 245);
}

.page {
	padding: 0px;
	border: 1px solid gray;
	height: 33px;
	width: 24%;
	color: black;
	font-size: 20px;
	background-color: rgb(242, 242, 242);
	margin-left: 5px;
}

.Dpage {
	font-size: 20px;
}

.tabTitle {
	overflow: hidden;
	border: 1px solid red;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	line-height: 40px;
	background-color: rgb(247, 87, 93);
	padding: 0px;
}

.tabTit {
	float: left;
	margin: 0px 5%;
	font-size: 20px;
	color: white;
}

.tabCont {
	border: 1px solid rgb(173, 173, 173);
	;
	border-right: none;
	font-size: 16px;
	float: left;
	width: 20%;
	height: 160px;
	text-align: center;
	padding: 15px 10px;
}

.tabContain {
	padding-bottom: 20px;
}

.tabContainer {
	overflow: hidden;
	/*margin-bottom: 20px;*/
}

.tabTab {
	font-size: 16px;
	padding: 0px;
}

ul.tabTab li:last-child {
	border: 1px solid rgb(173, 173, 173);
	;
}

.pSty {
	line-height: 23px;
	height: 47px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabMsg {
	overflow: hidden;
	font-size: 16px;
	border: 1px solid rgb(216, 213, 213);
	border-top: none;
	line-height: 40px;
	padding: 0px 15px;
	background-color: rgb(242, 242, 242);
}
.msgL {
	float: left;
}

.msgR {
	float: right;
}
.msg_sty{
	top:-165px;
	width: 200px;
	border: 1px solid black; 
	background:white; 
	border-radius:8px;
    padding:5px; 
    position:relative; 
    margin-left:40%;
}
/*左箭头样式*/

.pre-wrap {
    position: absolute;
    top: 100px;
}

.pre {
    position: absolute;
    top: -75px;
    left: -29px;
}

.pre1 {
    border-width: 12px;
    border-color: transparent black transparent transparent;
}

.pre2 {
    border-width: 12px;
    border-color: transparent #FFF transparent transparent;
    position: relative;
    top: -24px;
    left: 2px;
}

.pre1,
.pre2 {
	/*****设置border-style:dashed;使ie6支持border透明*****/
	border-style: dashed solid dashed dashed;
	/*****设置容器宽高为0*****/
	width: 0;
	height: 0;
	/*****去掉ie6下默认高度，设置以下属性*****/
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}